.footer{
   background-color: #1F1F1F;
}

.facebook{
    font-size: 20px;
    margin-right: 10px;
}

.twitter{
    font-size: 20px;
    margin-right: 10px;
}

.instagram{
    font-size: 20px;
    margin-right: 10px;
}

.logo-name{
    font-size: 20px;
    margin-right: 10px;
}